.version.index /* version checker */
{
	color: #0000EE;
	background-color: #EC216D;
}

.html
{
	background-color: #000000;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#000000 ,#FFFFFF 100%);
	background: linear-gradient(to right,#000000 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FFFFFFFF', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 808px;
	min-height: 1448.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-left: 64px;
	padding-right: 88px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 51;
	height: 161px;
	-pie-box-shadow: 0px 0px 9px 2px #BABC9A;
	box-shadow: 0px 0px 9px rgba(117,122,54,0.5),0px 0px 9px rgba(117,122,54,0.5);
	background: -webkit-gradient(linear, left center, right center, from(#490029),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#490029 ,#000000 100%);
	background: linear-gradient(to right,#490029 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF490029, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF490029', endColorstr='#FF000000', GradientType=1)";
	position: fixed;
	top: -29px;
	background-size: 100% auto;
}

#u75-bw
{
	z-index: 51;
}

#topp
{
	position: relative;
}

#u135
{
	z-index: 52;
	width: 89px;
	background-color: transparent;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -373px;
}

#u142-6
{
	z-index: 54;
	width: 393px;
	min-height: 55px;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: -260px;
}

#u142-2
{
	font-size: 18px;
	line-height: 22px;
}

#u142-4
{
	padding-top: 3px;
}

#buttonu76
{
	z-index: 2;
	width: 437px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 188px;
	position: relative;
}

#buttonu76:hover
{
	background-color: #41001E;
	width: 437px;
	min-height: 0px;
	margin: 188px 0px 0px 168px;
}

#buttonu76.ButtonSelected
{
	background-color: transparent;
	width: 437px;
	min-height: 0px;
	margin: 188px 0px 0px 168px;
}

#u82
{
	z-index: 3;
	width: 437px;
	border-color: #000000;
	padding-bottom: 87px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/livohub-slider-u82-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu76:hover #u82
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/livohub-slider-u82-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu76.ButtonSelected #u82
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/livohub-slider-u82-fr.png") no-repeat center center;
	background-size: cover;
}

#u77-6
{
	z-index: 4;
	width: 377px;
	min-height: 134px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#buttonu76:hover #u77-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu76:hover #u77-6 p,#buttonu76:hover #u77-6 span
{
	padding-top: 30px;
}

#u79
{
	z-index: 11;
	height: 48px;
	width: 351px;
	background: url("../images/u79_states.png") no-repeat 0px 0px;
}

#u79:hover #u79_states
{
	height: 48px;
	width: 351px;
	background: url("../images/u79_states-r.png") no-repeat 0px 0px;
}

#u92
{
	z-index: 14;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 675px;
	margin-top: 14px;
	position: relative;
}

#buttonu101
{
	z-index: 15;
	width: 437px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 13px;
	position: relative;
}

#buttonu101:hover
{
	background-color: #41001E;
	width: 437px;
	min-height: 0px;
	margin: 13px 0px 0px 168px;
}

#buttonu101.ButtonSelected
{
	background-color: transparent;
	width: 437px;
	min-height: 0px;
	margin: 13px 0px 0px 168px;
}

#u102
{
	z-index: 16;
	width: 437px;
	border-color: #000000;
	padding-bottom: 87px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/unihub-slider-u102-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu101:hover #u102
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/unihub-slider-u102-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu101.ButtonSelected #u102
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/unihub-slider-u102-fr.png") no-repeat center center;
	background-size: cover;
}

#u103-6
{
	z-index: 17;
	width: 377px;
	min-height: 134px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#buttonu101:hover #u103-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu101:hover #u103-6 p,#buttonu101:hover #u103-6 span
{
	padding-top: 30px;
}

#u105
{
	z-index: 24;
	height: 48px;
	width: 351px;
	background: url("../images/u105_states.png") no-repeat 0px 0px;
}

#u105:hover #u105_states
{
	height: 48px;
	width: 351px;
	background: url("../images/u105_states-r.png") no-repeat 0px 0px;
}

#buttonu112
{
	z-index: 27;
	width: 437px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 77px;
	position: relative;
}

#buttonu112:hover
{
	background-color: #41001E;
	width: 437px;
	min-height: 0px;
	margin: 77px 0px 0px 168px;
}

#u113
{
	z-index: 28;
	width: 437px;
	border-color: #000000;
	padding-bottom: 87px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dynahub-slider-u113-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu112:hover #u113
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/dynahub-slider-u113-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu112.ButtonSelected #u113
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/dynahub-slider-u113-fr.png") no-repeat center center;
	background-size: cover;
}

#u114-6
{
	z-index: 29;
	width: 377px;
	min-height: 134px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#buttonu112:hover #u114-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu112:hover #u114-6 p,#buttonu112:hover #u114-6 span
{
	padding-top: 30px;
}

#u116
{
	z-index: 36;
	min-height: 48px;
	min-width: 360px;
	vertical-align: top;
	height: 48px;
	width: 360px;
	background: url("../images/u116.png") no-repeat 0px 0px;
}

#u116:hover
{
	height: 48px;
	width: 360px;
	background: url("../images/u116-r.png") no-repeat 0px 0px;
}

#u115 #u116
{
	height: 48px;
	width: 360px;
}

#buttonu117
{
	z-index: 39;
	width: 437px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 77px;
	position: relative;
}

#buttonu117:hover
{
	background-color: #41001E;
	width: 437px;
	min-height: 0px;
	margin: 77px 0px 0px 168px;
}

#buttonu112.ButtonSelected,#buttonu117.ButtonSelected
{
	background-color: transparent;
	width: 437px;
	min-height: 0px;
	margin: 77px 0px 0px 168px;
}

#u121
{
	z-index: 40;
	width: 437px;
	border-color: #000000;
	padding-bottom: 87px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/synehub-slider-u121-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu117:hover #u121
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/synehub-slider-u121-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu117.ButtonSelected #u121
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/synehub-slider-u121-fr.png") no-repeat center center;
	background-size: cover;
}

#u118-6
{
	z-index: 41;
	width: 377px;
	min-height: 134px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#buttonu117:hover #u118-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu76.ButtonSelected #u77-6,#buttonu101.ButtonSelected #u103-6,#buttonu112.ButtonSelected #u114-6,#buttonu117.ButtonSelected #u118-6
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu117:hover #u118-6 p,#buttonu117:hover #u118-6 span
{
	padding-top: 30px;
}

#buttonu76.ButtonSelected #u77-6 p,#buttonu76.ButtonSelected #u77-6 span,#buttonu101.ButtonSelected #u103-6 p,#buttonu101.ButtonSelected #u103-6 span,#buttonu112.ButtonSelected #u114-6 p,#buttonu112.ButtonSelected #u114-6 span,#buttonu117.ButtonSelected #u118-6 p,#buttonu117.ButtonSelected #u118-6 span
{
	padding-top: 50px;
}

#u77,#u103,#u114,#u118
{
	font-size: 1px;
	line-height: 0px;
}

#u78:hover,#u104:hover,#u115:hover,#u119:hover
{
	min-height: 0px;
	margin: 0px;
}

#u120
{
	z-index: 48;
	height: 48px;
	width: 351px;
	background: url("../images/u120_states.png") no-repeat 0px 0px;
}

#u79_states,#u105_states,#u120_states
{
	min-height: 48px;
	min-width: 351px;
	vertical-align: top;
}

#u120:hover #u120_states
{
	height: 48px;
	width: 351px;
	background: url("../images/u120_states-r.png") no-repeat 0px 0px;
}

#u78 #u79:hover #u79_states,#u104 #u105:hover #u105_states,#u119 #u120:hover #u120_states
{
	height: 48px;
	width: 351px;
}

#u149
{
	z-index: 71;
	margin-left: 24px;
	margin-top: 38px;
	position: relative;
}

#u149_img
{
	display: block;
	vertical-align: top;
}

#u143-11
{
	z-index: 60;
	width: 783px;
	min-height: 123px;
	background-color: #660A2D;
	color: #FFFFFF;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	margin-left: 24px;
	margin-top: 38px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

